body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainDiv{
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  background-color: #ffcc96ee;
  width: 500px;
  padding: 2rem;
  border-radius: 20px;
}

button{
  padding: .8rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(116, 240, 161);
  border: 3px solid rgb(86, 186, 86);
}


.result-div{
 display: flex;
 justify-content: space-between;
 background-color: #eee;
 padding: 1rem;
 margin:1rem 0;
 border-radius: 10px;
}
 .btn{
  padding: .8rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  color:#fff;
  background-color: rgb(247, 49, 49);
}
.heading{
    text-align: center;
    color: rgb(64, 66, 66);
    padding: 0 0 1rem;
    border-bottom: 2px solid gray;
}
